<br><br>
<div class="container faq">
<h3><strong>Our Mission Statement: </strong></h3>
<p>Helpful is a web app that assists people of all ages find and share meaningful volunteer opportunities by providing a frictionless, easy to use platform. 


<br><br>
<h3><strong>Our Team:</strong></h3>

<br>
<div class="row">
	<div class="col-md-2">
		<%= image_tag("ike.jpg", size: "185x290", alt: "picture of handsome young man") %>
	</div>
	<div class="col-md-10 about-content">
	<p>
		<em>Founder/ Lead Web Developer/Project Manager - Ike Okonkwo</em>
		<br>Note: We are still growing and looking to build a helpful team. If interested email us at <u>gethelpful@gmail.com</u>
	</p>
	
	<u><em><p><strong>FAQ</strong></em></u><br>

<strong>"What types of volunteer opportunities are posted?"</strong>
<br>Any and all volunteer opportunities are welcome. As we grow in postings are users will be given 'top picks' based on their preferences of cause or location.

<p><strong>"How can I be helpful?"</strong>
<br>Post any organization you know of that is looking for volunteers from schools, to hospitals, grassroots projects. Also, leave reviews to help other people like you know what they are signing up for.  And most importantly, go volunteer.

<p><strong>"This sounds nice, but what does it cost me?"</strong>
<br>The best part about all of this is that we are absolutely free, so for sure just sign up and be helpful any way that you can :)



	</div>
</div>


</div>


