
<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 450px;
        width: 100%;
       }
    </style>
  </head>

  <body>
    <h3>Welcome User</h3>
    <br>
    <h5> Organizations looking for volunteers: </h5>


<!-- =========================================================================
Function Breakdown of the following Map Div....
1) initMap function: I am calling a JS function to initialize a map @ my home address.
2) creatMarker function: takes the argument of the (coords, map, and title) to add a new pin
NOTE: this has the var saved outside the function so as to be used as a handler for other stuff.
3) createInfoWindow: makes the pop-up box appear  -->	    
<!-- 4) printlocations: renders the seeds onto the Map  -->
    <div id="map"></div>

	    <script>

	    function initMap() {
	        var uluru = {lat: 100, lng: -100};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 9,
	          center: uluru
	        });

	        var marker = new google.maps.Marker({
	          position: uluru,
	          map: map
	        });

		
		// var marker2;
		function createMarkerPlus(thePosting, map){
			console.log(thePosting)
			var latitude = Number(thePosting.latitude);
			var longitude = Number(thePosting.longitude);

		  	var marker = new google.maps.Marker({
				position: { lat:latitude, lng:longitude },
				title: thePosting.title,
				map: map
			});
      
      		var info = createInfoWindow(thePosting.description);
	    	google.maps.event.addListener(marker, 'click', function() {
		       info.open(map, marker);
			});
		}
			

		// Get GEOLOCATION OF USER- and place an info window there
		var infoWindow = new google.maps.InfoWindow({map: map});
		        if (navigator.geolocation) {
	          		navigator.geolocation.getCurrentPosition(function(position) {
	            	var pos = {
	              	lat: position.coords.latitude,
	              	lng: position.coords.longitude
	            	};

	            infoWindow.setPosition(pos);
	            infoWindow.setContent('My location.');
	            map.setCenter(pos);
	             }, function() {
	            handleLocationError(true, infoWindow, map.getCenter());
	          });
	        	} else {
	         
	    // Browser doesn't support Geolocation
	    handleLocationError(false, infoWindow, map.getCenter());
	     		   }
	      

	      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
	        infoWindow.setPosition(pos);
	        infoWindow.setContent(browserHasGeolocation ?
	                              'Error: The Geolocation service failed.' :
	                              'Error: Your browser doesn\'t support geolocation.');
	      }


			function createInfoWindow(text){
				var infowindow2 = new google.maps.InfoWindow({
				content: text
				});
				return infowindow2;
			}


		     // createMarker({lat:some_lat, lng:some_lng}, map, "BWC");
		     // createMarker({lat:42, lng:-71}, map, "BWC");


		     $.ajax({
		     		type: "GET",
		     		url: "/locations",
		     		success: printlocations,
		     		error: handleLocationError,
		     	});

		     function printlocations(postings){
		     	console.log("ayyeee");

		     	console.log(postings);
		     	postings.forEach(function (x){
	 			    createMarkerPlus(x, map); 
		   		});
		  	  }
		     
		}

	</script>

 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqdy40KUKm4WZFLhpFLGZA8GlEVow7YQ4&callback=initMap">
 </script>

  </body>
</html>


