
<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 450px;
        width: 70%;
        left: 200px;
       }
    </style>

 <script type="text/javascript" src="js/jquery.js"></script></script>

  </head>

  <body>
  <br>
  <div class="welcome">
    <h3>Welcome User</h3>
  </div>

  <div class="heading">
 	<h5> Here are organizations looking for volunteers: </h5>
  </div>
<!-- =========================================================================
Function Breakdown of the following Map Div....
1) initMap function: I am calling a JS function to initialize a map @ my home address.
2) creatMarker function: takes the argument of the (coords, map, and title) to add a new pin
NOTE: this has the var saved outside the function so as to be used as a handler for other stuff.
3) createInfoWindow: makes the pop-up box appear  -->	    
<!-- 4) printlocations: renders the seeds onto the Map  -->
   

    <div id="map"></div>


  
	    <script>



	    function initMap() {
	        var uluru = {lat: 25.766058, lng: -80.196155};
	        var map = new google.maps.Map(document.getElementById('map'), {
	          zoom: 11,
	          center: uluru

	        });

	        var marker = new google.maps.Marker({
	          position: uluru,
	          map: map
	        });


		
		// var marker2;
		function createMarkerPlus(thePosting, map){
			var latitude = Number(thePosting.latitude);
			var longitude = Number(thePosting.longitude);

			// var location = String(thePosting.location)
			// var email = String(thePosting.email)
			// var phone = String (thePosting.phone)
			console.log("CREATING MARKER", { latitude, longitude, title: thePosting.title })

		  	var marker = new google.maps.Marker({
				position: { lat:latitude, lng:longitude },
				title: thePosting.title,
				map: map
			});
      
      		var info = createInfoWindow(thePosting);
	    	google.maps.event.addListener(marker, 'click', function() {
		       info.open(map, marker);


			});
		}
			

		// Get GEOLOCATION OF USER- and place an info window there
		var infoWindow = new google.maps.InfoWindow({map: map});
		        if (navigator.geolocation) {
	          		navigator.geolocation.getCurrentPosition(function(position) {
	            	var pos = {
	              	lat: position.coords.latitude,
	              	lng: position.coords.longitude
	            	};

	            infoWindow.setPosition(pos);
	            infoWindow.setContent('My location.');
	            map.setCenter(pos);
	             }, function() {
	            handleLocationError(true, infoWindow, map.getCenter());
	          });
	        	} else {
	         
	    // Browser doesn't support Geolocation
	    handleLocationError(false, infoWindow, map.getCenter());
	     		   }
	      

	      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
	        infoWindow.setPosition(pos);
	        infoWindow.setContent(browserHasGeolocation ?
	                              'Error: The Geolocation service failed.' :
	                              'Error: Your browser doesn\'t support geolocation.');
	      }


	      	// createInfoWindow(thePosting.description);

			function createInfoWindow(thePosting){
				// var text = thePosting.description

				var infoWindowHtml = `
					<div class="card-blue-grey-darken-1">
						<div class="card-content-black-text">
							<div class="title-width card-title">
							${thePosting.title}
							</div>
							<br><br>
							<p>${thePosting.description}</p>
						</div>

						<br><br>
						<div class="card-action">
							<h7> <a href="/postings/${thePosting.id}">See details & reviews</a> </h7>
						</div>
					</div>`;

				var infowindow2 = new google.maps.InfoWindow({
					content: infoWindowHtml
				});
				return infowindow2;
			}


		     // createMarker({lat:some_lat, lng:some_lng}, map, "BWC");
		     // createMarker({lat:42, lng:-71}, map, "BWC");


		     $.ajax({
		     		type: "GET",
		     		url: "/locations",
		     		success: printlocations,
		     		error: handleLocationError,
		     	});

		     function printlocations(postings){
		     	console.log("ayyeee");

		     	console.log(postings);
		     	postings.forEach(function (x){
	 			    createMarkerPlus(x, map); 
		   		});
		  	  }
		     
		}

	</script>


 <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqdy40KUKm4WZFLhpFLGZA8GlEVow7YQ4&callback=initMap">
 </script>


  </body>
</html>


