<div class=postform>

<%= form_for @my_posting do |f| %>

  <fieldset>

    <legend>Add a volunteer opportunity:</legend>

	    <div class =form>
	    <%=f.label :title %>:<br>
	    <input type="text" style="width: 330px; name="posting[title]" placeholder="Organization Name"><br>
		
	    <%=f.label :location %>:<br>
	    <input type="text" style="width: 330px; name="posting[location]" placeholder="Address--e.g 123 30th Street, Seminole FL 33776">
	    <br><br>

	    <%=f.label :description %>:<br>
	    <textarea  style="width: 330px; height: 150px;" name="posting[description]" placeholder="Project Description / Volunteer Requirements / Contact Inofrmation"></textarea>
		<br><br>
	    <input type="submit" value="Submit">

	    </div>
  </fieldset>
</form>
<% end %>



</div>