/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */





.footer {
	position: relative;
	bottom: 0px;
	background-color:#162f5e;
	color: #F7F8FC;
	text-align: center;
	padding: 1px;
}

.header {
	background-color:#162f5e;
	color: #F7F8FC;
}

.backdrop { 
	position: relative;
	background-color:#adc9ff;
	height: 100%;

 }
 #map{
 	position: relative;
 	float: left;
 	border: 1px solid #162f5e;
 	width: 60%;
 
 }

 .navbar-inverse.navbar-fixed-top{
 	background-color:#162f5e;
 	color: #F7F8FC;
 	height: 50px;
 }
 

.navbar-inverse .navbar-nav > li > a {
    color: #F7F8FC;
}


.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #9d9d9d;
    background-color: transparent;
}

.navbar-inverse .navbar-brand{
  color: #F7F8FC;

}

.postform{
	position:relative;
	left: 15px;
	margin-top: 50px;
}

.form{
	position: relative;
	left: 450px;
	width: 100%;
}

.html {
  height: 100%;
  width: 100%;
}
.backdrop {
  min-height: 94vh;
  min-width: 100vh;
}

input[type=text] {
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

input[type=text]:focus {
    width: 100%;
}

.collapse.navbar-collapse{
	position: relative;
	float: right;
	left: 50px;
}

.navbar-brand {
	position: relative;
	font-size: 30px;
	
}

.welcome{
	position: relative;
	left:530px;
}

.heading{
	position: relative;
	left:500px;
}

.card-blue-grey-darken-1{
	margin-bottom: 10px;
	width: 350px
}

.card-title {
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 22px;
	font-weight: 400;
	padding: 10px;
	background-color: #48b5e9;
	color: white;
	margin: 0;
	border-radius: 2px 2px 0 0;
	width: 350px;
}

.card-content-black-text {
	font-size: 13px;
	line-height: 18px;
	font-weight: 400;
	margin-right: 1px;
	padding: 15px 5px 20px 15px;
	max-height: 140px;
	overflow-y: auto;
	overflow-x: hidden;
	width: 350px;

}

.title-width{
	width: 350px;
}


.details{
	position: relative;
	float: left;
	
}

.details-2{
	position: relative;
	float: left;
	
}
.boxed{
	border: 1px solid black ;
	width: 80em;
	word-wrap: break-word;
}
.container-details{
	margin-top: 40px;
}


.boxed2{
	border: 1px solid black ;
	width: 80em;
	word-wrap: break-word;
}
.container-reviews{
	margin-bottom: 10px;
}

.project-details-page{
	position: relative;
	float:left;
}

.stylez{
	position:relative;

}

.searching{
	position:relative;
	float:left;
}

.faq{
	position: relative;
	left: 40px;
}